# Data
/data/
*.csv
*.parquet

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# IDEs
.vscode/
.idea/

# Logging & Experiments
wandb/
logs/
checkpoints/
*.pth 
*.pth
*.h5

# OS
.DS_Store

# Obsidian
.obsidian/